# docker deps
CONFIG_PACKAGE_kmod-crypto-acompress=n
CONFIG_PACKAGE_kmod-crypto-blake2b=n
CONFIG_PACKAGE_kmod-crypto-xxhash=n
CONFIG_PACKAGE_kmod-fs-btrfs=n
CONFIG_PACKAGE_kmod-lib-lzo=n
CONFIG_PACKAGE_kmod-lib-raid6=n
CONFIG_PACKAGE_kmod-lib-xor=n
CONFIG_PACKAGE_kmod-lib-xxhash=n
CONFIG_PACKAGE_kmod-lib-zlib-deflate=n
CONFIG_PACKAGE_kmod-lib-zlib-inflate=n
CONFIG_PACKAGE_kmod-lib-zstd=n
CONFIG_PACKAGE_kmod-br-netfilter=n
CONFIG_PACKAGE_kmod-ipt-extra=n
CONFIG_PACKAGE_kmod-ipt-nat=n
CONFIG_PACKAGE_kmod-ipt-nat6=n
CONFIG_PACKAGE_kmod-ipt-physdev=n
CONFIG_PACKAGE_kmod-nf-ipvs=n
CONFIG_PACKAGE_kmod-nf-nat6=n
CONFIG_PACKAGE_kmod-dummy=n
CONFIG_PACKAGE_kmod-veth=n
CONFIG_PACKAGE_iptables-mod-extra=n
CONFIG_PACKAGE_iptables-mod-fullconenat=n
CONFIG_PACKAGE_ip6tables-mod-fullconenat=n
CONFIG_PACKAGE_libip4tc=n
CONFIG_PACKAGE_libip6tc=n
